body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.home{
    display: flex;
    clear: both;
    height: 100vh;
    overflow-y: hidden;
}

.My.Assignments.Container{
    margin-top: 6%;
    float: left;
    width: 25%;
    overflow: scroll;
}

.IssuesContainer {
    margin-top : 6%;
    float: left;
    width : 75%;
    overflow: scroll;
}
